@import url('https://fonts.googleapis.com/css?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&display=swap');


#quote-container {
  position: fixed;
  bottom: calc(25vh + 20px);
  right: 20px;
  width: calc(100% - 40px);
  font-size: 2vw;
  font-weight: 700;
  margin: 0;
  color: white;
  text-align: center;
  bottom: 1%;
}

#quote-text {
  position: relative;
  bottom: unset;
  right: unset;
  font-size: 1em;
  font-weight: 700;
  margin: 0 auto;
	color:rgb(253, 253, 252);
	text-align: center;
}

.popup-container {
  display: none;
  position: fixed;
  width: 50vw;
  height: 15vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3vw;
  background-color: rgb(253, 253, 252);
  border: .3vw solid #da1414;
  border-radius: 2vw;
  font-size: 2.5vw;
  z-index: 9999;
}

.show-popup {
  display: block;
}
