@import url('https://fonts.googleapis.com/css?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&display=swap');


#quote-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#quote-text {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.8em;
  font-weight: 700;
  margin: 0.4em;
	color:rgb(253, 253, 252);
	text-align: center;
}

.btn-outline-light{
  border-color: #5566AA;
}
.btn-outline-light:hover{
  background-color: #DD9999;
  border-color: #DD9999;
}

.btn-outline-dark{
  font-size:1rem;
  border-color: #5566AA;
  color: #5566AA;

}
.btn-outline-dark:hover{
  background-color: #DD9999;
  border-color: #DD9999;

}
#h1 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0.4em;
	color:white;
	text-align: center;
}
#h2 {
  font-size: 1em;
  font-weight: 100;
  margin: 0.2;
	color:white;
	text-align: center;
}
#h3 {
	font-size: 1em;
  font-weight: 100;
  margin: 1em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	color:white;
	text-align:left;
}
#h4 {
	font-size: 0.8em;
  font-weight: 100;
	padding-left:0.4em;
	text-align:left;
	color:white;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.label-text {
  margin-left: 20px;
	color: white;
	font-weight: 100;

}

.toggle {
  isolation: isolate;
  position: relative;
  height: 24px;
  width: 48px;
  border-radius: 15px;
  background: #808080;
  overflow: hidden;
}

.toggle-inner {
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 22px;
  width: 46px;
  border-radius: 15px;
  overflow: hidden;
}
img {
  max-width:5em;
  vertical-align:middle;
  text-align:center;
}
.active-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background: #4ee44e;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.05s linear 0.17s;
}

.toggle-state {
  display: none;
}
